body {
  background-color: #1f1f1f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='58' height='58' fill='%23121212'/%3E%3C/svg%3E");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 65px;
}

.App-header {
  background-color: #222 !important;
  height: 115px;
  padding: 20px;
  color: white;
}

.App-bar {
  background-color: #222 !important;
  height: 115px !important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.White-theme {
  background-color: #ffffff !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='30' height='30' fill-opacity='0.33' fill='%23ededed'/%3E%3C/svg%3E") !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
